@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fondo_claro: #f7f7f7;
    --primario: #005eb8;
    /* Botones principales, encabezados y elementos de acción. */
    --secundario: #ff6f61;
    --texto_principal: #333333;
    --texto_secundario: #666666;
    --bordes_lineas: #d1d1d1;
    --exito: #28a745;
    --advertencia: #ffc107;
    --alerta: #dc3545;

    /* Promociones */
    --tresPorDos: #006d77;
    --dosPorUno: #9b2226;
    --segSetenta: #003049;
    --segCincuenta: #264653;
    --terCincuenta: #7f5539;
}

html {
    font-size: 18px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--texto_principal);
}

body {
    background-color: var(--fondo_claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}


.header__title {
    width: 100%;
    text-align: center;
}

.header__title .title {
    color: var(--primario);
}

.header__title .subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--texto_principal);
}

main {
    position: relative;
    height: 100%;
    max-width: 500px;
}

/* Estilos items de lista */
.container__list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    align-items: center;
}

.header__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.cnt__offers {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    flex-wrap: wrap;
    gap: 5px;
}

.offers {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.offer {
    background-color: var(--texto_principal);
    width: 80px;
    text-align: center;
    border-radius: .3rem;
    color: var(--fondo_claro);
}

.offers__title {
    color: var(--texto_principal);
    background-color: var(--fondo_claro);
}

.cnt__table {
    width: 100%;
    display: flex;
}

table {
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 100px;
}

tbody,
thead,
tr {
    display: block;

}

tr {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

td,
th {
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__icon .del{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


tbody tr {
    margin-bottom: 5px;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.table__input {
    width: 100%;
    color: var(--texto_principal);
    text-align: center;
    border: none;
    background-color: var(--fondo_claro);
    font-size: 1.25rem;
    outline-color: var(--secundario);
}



/* .left {
    text-align: left;
}

.right {

    text-align: right;
} */

select {
    font-size: 1rem;
    outline: none;
    background-color: var(--fondo_claro);
    border: none;
    color: var(--texto_principal);
}

.table__cost {
    font-size: 1.25rem;
    color: var(--texto_principal);
    font-weight: 700;
}


.option {
    text-align: center;
    font-size: 1rem;
    color: var(--fondo_claro);
    cursor: pointer;
    background-color: var(--texto_principal);
}

.tresPorDos {
    background-color: var(--tresPorDos);
    color: var(--fondo_claro);
    border-radius: .3rem;
}

.dosPorUno {
    background-color: var(--dosPorUno);
    color: var(--fondo_claro);
    border-radius: .3rem;
}

.segSetenta {
    background-color: var(--segSetenta);
    color: var(--fondo_claro);
    border-radius: .3rem;
}

.segCincuenta {
    background-color: var(--segCincuenta);
    color: var(--fondo_claro);
    border-radius: .3rem;
}

.terCincuenta {
    background-color: var(--terCincuenta);
    color: var(--fondo_claro);
    border-radius: .3rem;
}

.container__list .cnt__btns {
    position: fixed;
    bottom: 0;
    width: 300px;
}

/* FORMULARIO AÑADIR */
.cnt__form {
    position: fixed;
    bottom: 0px;
    left: 0px;
    max-height: 600px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--texto_principal);
    border-radius: 3rem 3rem 0 0;
    z-index: 10000;
    background-color: var(--fondo_claro);
}

.form__item input[type=button] {
    margin-top: 20px;
}

.form__item {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__item input[type=text] {
    border: none;
    background-color: var(--fondo_claro);
    border-bottom: 1px solid var(--texto_secundario);
    text-align: center;
    outline: none;
}

.form__item input[type=number] {
    border: none;
    background-color: var(--fondo_claro);
    border-bottom: 1px solid var(--texto_secundario);
    text-align: center;
    outline: none;
}

/* Configuración para eliminar las flechas incrementales de un input */
input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari y Chrome */
    appearance: none;
    /* Estándar */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Opcional: asegura que no quede espacio */
}

/* Fin flechas incrementales*/

.form__item input[type=button] {
    width: 60%;
    max-width: 250px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    transition: transform 250ms ease;
    background-color: var(--primario);
    color: var(--fondo_claro);
}

.form__item input[type=button]:active {
    transform: scale(0.97);
}

.form__item .cnt__input {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.cnt__input {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.cnt__input input {
    width: 150px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--texto_secundario);
}

.cnt__input select {
    width: 150px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--texto_secundario);
}

.cnt__input label {
    font-size: 1.2rem;
    width: 80px;

}

.cnt__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.cnt__btns button {
    width: 60%;
    max-width: 250px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    transition: transform 250ms ease;
    background-color: var(--primario);
    color: var(--fondo_claro);
}


.cnt__btns button:active {
    transform: scale(0.97);
}

.btn__close {
    font-size: 2rem;
    margin: 20px;
}

/* FIN FORMULARIO AÑADIR */



.hidden {
    display: none;
}