@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fondo_claro: #f7f7f7;
    --primario: #005eb8;
    /* Botones principales, encabezados y elementos de acción. */
    --secundario: #ff6f61;
    --texto_principal: #333333;
    --texto_secundario: #666666;
    --bordes_lineas: #d1d1d1;
    --exito: #28a745;
    --advertencia: #ffc107;
    --alerta: #dc3545;

    /* Promociones */
    --tresPorDos: #FFC300;
    --dosPorUno: #4CAF50;
    --segSetenta: #7E57C2;
    --segCincuenta: #42A5F5;
    --terCincuenta: #FF7043;
}

html {
    font-size: 18px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    color: var(--texto_principal);
}

body {
    background-color: var(--fondo_claro);
    height: 100vh;
}

.header {
    padding: 5px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.header__btn {
    /* display: none; */
    position: absolute;
}

.header__btn .las {
    font-size: 2rem;
}

.las {
    cursor: pointer;
    transition: transform 250ms ease;
}

.las:hover {
    transform: scale(1.06);
}

.las:active {
    transform: scale(0.85);
}

.header__title {
    width: 100%;
    text-align: center;
}

.header__title .title {
    color: var(--primario);
}

.header__title .subtitle {
    font-size: 1.2rem;
    color: var(--texto_principal);

}

main {
    position: relative;
    top: 80px;
    height: calc(100% - 80px);
}

.container {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 100;
}

.hidden {
    display: none;
}

.lists__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__li {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 5px;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    cursor: pointer;
    transition: transform 250ms ease;
}

.list__li:active {
    transform: scale(0.97);

}

.list__li div {
    padding: 0 5px;
}

.list__li .name {
    overflow-x: hidden;
}

.cnt__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.cnt__btns button {
    width: 60%;
    max-width: 250px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    transition: transform 250ms ease;
    background-color: var(--primario);
    color: var(--fondo_claro);
}


.cnt__btns button:active {
    transform: scale(0.97);
}


/* FORMULARIO AÑADIR */
.cnt__form {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-height: 600px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--texto_principal);
    border-radius: 3rem 3rem 0 0;
    z-index: 10000;
    background-color: var(--fondo_claro);
    display: none;
}

.form__lists {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__lists input[type=text] {
    border: none;
    background-color: var(--fondo_claro);
    border-bottom: 1px solid var(--texto_secundario);
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

.form__lists input[type=button] {
    width: 60%;
    max-width: 250px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    transition: transform 250ms ease;
    background-color: var(--primario);
    color: var(--fondo_claro);
}

.form__lists input[type=button]:active {
    transform: scale(0.97);
}

/* FIN FORMULARIO AÑADIR */

/* Estilos items de lista */
.container__list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 100;
    align-items: center;
}

.header__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.cnt__offers {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.offer {
    padding: 2px 5px;
    text-align: center;
    border-radius: .3rem;
    color: var(--texto_principal);
}

.cnt_table {
    width: 100%;
    padding: 20px;
    display: flex;
}

table {
    padding: 10px;
    display: block;
}

tbody,
thead,
tr {
    display: block;
}

tr {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

td,
th {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

tbody tr {
    margin-bottom: 5px;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.table__input {
    width: 100%;
    color: var(--texto_principal);
    text-align: center;
    border: none;
    background-color: var(--fondo_claro);
    font-size: 1.25rem;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Para Firefox */
}

.left {
    text-align: left;
}

.right {

    text-align: right;
}

select {
    font-size: 1.25rem;
    outline: none;
    background-color: var(--fondo_claro);
    border: none;
}

option span:hover {
    background-color: #f0f0f0;
}

.option {
    text-align: center;
    font-size: 1rem;
    color: var(--fondo_claro);
}

.tresPorDos {
    background-color: var(--tresPorDos);
}

.dosPorUno {
    background-color: var(--dosPorUno);
}

.segSetenta {
    background-color: var(--segSetenta);
}

.segCincuenta {
    background-color: var(--segCincuenta)
}

.terCincuenta {
    background-color: var(--terCincuenta);
}

.container__list .cnt__btns {
    position: absolute;
    bottom: 0;
    width: 300px;
}

.container__list .cnt__form {

    position: absolute;
    bottom: 0px;
    left: 0px;
    max-height: 600px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--texto_principal);
    border-radius: 3rem 3rem 0 0;
    z-index: 10000;
    background-color: var(--fondo_claro);
    display: none;


}

.form__item {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__item input[type=text] {
    border: none;
    background-color: var(--fondo_claro);
    border-bottom: 1px solid var(--texto_secundario);
    text-align: center;
    outline: none;
}

.form__item input[type=number] {
    border: none;
    background-color: var(--fondo_claro);
    border-bottom: 1px solid var(--texto_secundario);
    text-align: center;
    outline: none;
}

.form__item input[type=button] {
    width: 60%;
    max-width: 250px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    transition: transform 250ms ease;
    background-color: var(--primario);
    color: var(--fondo_claro);
}

.form__item input[type=button]:active {
    transform: scale(0.97);
}

.form__item .cnt__input {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.cnt__input {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.cnt__input input {
    width: 150px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--texto_secundario);
}

.cnt__input select {
    width: 150px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--texto_secundario);
}

.cnt__input label {
    font-size: 1.2rem;
    width: 80px;

}

.form__item input[type=button] {
    margin-top: 20px;
}